.main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #639C9C;
}
  
.card {
    width: 500px;
    height: 350px;
    border-radius: 30px;
    background-color: white;
    padding: 50px;
}